body{
padding: 0;
margin: 0;
font-family:sans-serif;
}
.fullscreen-image {
    width: 100% !important;
    height: 100vh;
    object-fit: cover;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
  }

  .info-card {
    background-color: rgba(0, 0, 0, 0.56);
    width: 55%;
    height: 50%;
    padding: 30px 90px 300px 90px;
    border-radius: 10px;
    text-align: center;
  }
  .logo{
    width: 20%;
    margin-top: 20px;
    margin-bottom:-30px
  }
  .titolo{
    font-size: 30px;
    color: #64DA41;
   
  }

  .section-button{
    background-color: #64DA41;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 10px
  }
.checkbox-title {
    display: flex;
   /* Modifica importante */
   padding: 0 !important;
   margin-bottom: -20px;
   line-height: 10px;
    
}

.titolo-checkbox {
    font-size: 22px;
    margin-left: 10px;
}
.info{
    text-align: start;
    line-height: 10px;
}

.colore-arancione {
    background-color: coral;
    height: 25px; /* Aggiungi un'altezza per rendere il colore visibile */
    border-radius:5px;
    width: 40%;
    line-height: 10px;
    margin-top: -7px;
}
.colore-verde {
    background-color: #64DA41;
    height: 25px; /* Aggiungi un'altezza per rendere il colore visibile */
    border-radius:5px;
    width: 65%;
    line-height: 10px;
    margin-top: -7px;
}
.colore-rosso {
    background-color: red;
    height: 25px; /* Aggiungi un'altezza per rendere il colore visibile */
    border-radius:5px;
    width: 20%;
    line-height: 10px;
    margin-top: -7px;
}


@media screen and (max-width: 800px) {
    .titolo{
        font-size: 20px;
        color: #64DA41;
        margin-top: 35px;
        margin-bottom: 35px;
       
    }
    .info-card {
        background-color: rgba(0, 0, 0, 0.56);
        width: 80%;
        height: 40%;
        padding: 30px 30px 350px 30px !important;
        border-radius: 10px;
        text-align: center;
      }
    .section-button{
        background-color: #64DA41;
        padding: 10px;
        margin-top: -20px;
        margin-bottom: 10px;
        width: 100%;
    }
    .logo{
        width: 30%;
        margin-top: 20px;
        margin-bottom:-30px
    }
}
